doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Fachbereich - erstellen
    link(rel='stylesheet', href='../assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../assets/stylesheets/stylesheet.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.8.24/jquery-ui.min.js')
  body
    nav.navbar.navbar-light.navbar-expand-lg.bg-white.clean-navbar.shadow
      .container
        a.navbar-brand.logo(href='/') Karte der WWU
        button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.ml-auto
            li.nav-item(role='presentation')
              a.nav-link(href='/karte') Karte
            li.nav-item(role='presentation')
              a.nav-link(href='/mensen/index') Mensen
            li.nav-item(role='presentation')
              a.nav-link(href='/institute/index') Institute
            li.nav-item(role='presentation')
              a.nav-link(href='/fachbereich/index') Fachbereiche
            li.nav-item(role='presentation')
              a.nav-link.aktiv(href='/impressum/index') Impressum
    main.page.landing-page
      .container-fluid
        .row(style='padding-left:10px')
          .col-sm-3.itemColum
            #editingOptions.editingOptions
              #editingOptions.editingOptions
                #fachbereich
                  h3.editingOptions Fachbereiche:
                  a.a-edit(href='/createFachbereich/fachbereich') Fachbereich <i class="fa fa-plus"></i>
                  br
                  a.a-edit(href='/editFachbereich/fachbereich') Fachbereich <i class="fa fa-pencil"></i>
                  br
                #institute
                  h3.editingOptions Institute:
                  a.a-edit(href='/createInstitut/institute') Institut <i class="fa fa-plus"></i>
                  br
                  a.a-edit(href='/editInstitut/institute') Institut <i class="fa fa-pencil"></i>
                  br
          .col-sm-9.mapCol
            .searchSection.autocomplete(style="border-top:none")
                input#searchInput.textfeld.search(type="text" placeholder="Search.." name="search" autocomplete="off" autofocus='')
                button#submitSearch.submit(type='button' value='Suchen')
                  i.fa.fa-search
            button#deleteInst.btn.red Institut 
              i.fa.fa-trash-o
            #fachbereichForm
              h3 Name des Fachbereiches
              input#fachbereichName.textfeld(type='text', placeholder='Name des Fachbereiches', )
              h3 Abkürzung
              input#fachbereichAbkuerzung.textfeld(type='text', placeholder='z.B. FB14', maxlength='4' disabled)
              h3 Webseite
              input#fachbereichWebseite.textfeld(type='url', placeholder='Adresse der Webseite')
              br
              br
              button#addFachbereich.btn.green(type='submit', onclick='addFachbereich()') Submit
    footer.page-footer.dark(style='padding-top: 10px;')
      .footer-copyright(style='margin-top: 5px;')
        p © 2018 Henry Fock
    script(src='../assets/js/jquery.min.js')
    script(src='../assets/bootstrap/js/bootstrap.min.js')
    script(src='../assets/js/theme.js')
    script(src='../assets/js/editFachbereichScript.js')
    script(src='../assets/js/autocomplete.js')
